.dropdown {
  position: absolute !important;
  top: 65px;
  left: 1px;
  z-index: 2;
}

.onClickOutside {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.NotificationNavItem {
  position: relative;
}

.badge-danger {
  min-width: 18px;
  height: 18px;
  bottom: 20px;
  left: 18px;
}
